/* CSS declarations go here */

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100% !important;
}

.card {
  background: #f2f2f2;
  border: 1px solid #ccc;
  padding: 4px;
  width: 90px;
  height: 90px;
  text-align: center;
}

.card.fit {
  height: 100%;
}

.card h1 {
  line-height: 82px;
  font-size: 62px;
  margin: 0;
  margin-top: 4px;
}

.card .draggie {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.card .stamp {
  position: absolute;
  bottom: 1em;
  left: 1em;
}